body {
  font-family: sans-serif;
  background-color: #181818;
  padding: 0%;
  margin: 0%;

}
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
  color: grey;
}

.topnav a{
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: grey;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: red;
  color: white;
  margin-left:0px;
  margin-right:1px;
}
@keyframes ticker {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}
.tcontainer{
  width: 100%;
  overflow: hidden;
}
.ticker-wrap {
  height: 30px;
  font-size: 20px;
  width: 100%;
  padding-left: 100%;
  background-color: red;
  color: white;
}
.ticker-move {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 110s;
}
.ticker-move:hover{
  animation-play-state: paused;
}
.ticker-item{
  display: inline-block;
  padding: 0 5rem;
}

h2{
  line-height: 10%;
  text-align: center;
  color: white;
}
.topnav p{
  line-height: 10%;
  text-align: center;
  color: red;
}
p{
  line-height: 10%;
  text-align: center;
  color: white;
}
#total_cases{
  font-size: 40px;
  color: orange;
  font-weight: bold;
  padding-bottom: 0;
  letter-spacing: 1px;
}
#total_death{
  font-size: 40px;
  color: red;
  font-weight: bold;
}
#total_recovered{
  font-size: 40px;
  color: green;
  font-weight: bold;
}
#status{
  font-size: 25px;
  color:white;
}
#new_death{
  font-size: 40px;
  color: red;
}
#case_ca{
  font-size: 40px;
  color:#B38500;
  font-weight: bold;
}
#death_ca{
  font-size: 40px;
  color: red;
  font-weight: bold;
}

#incu_ca{
  font-size: 40px;
  color: green;
  font-weight: bold;
}
#status_ca{
  color: white;
  font-size: 25px;
}

#tests{
  font-weight: bold;
  font-size: 40px;
}
table{
  width: 100%;
}

.dashboard tr{
  background: #333;
  color: white;
}
.Statistics{
  overflow: scroll;
}
.Statistics table{
  border-collapse: separate;
  margin-left:auto;
  margin-right:10px;
}
.statistics img{
  height: 2px;
  width: 2px;
}
.Statistics table tr td{
  text-align: center;
  border-collapse: collapse;
}
.Statistics td:nth-child(1) {
  color: white;
}

.Statistics td:nth-child(2) {
  text-align: left;
  color: white;
  font-weight: bold;
}
.Statistics td:nth-child(3) {
  color: #B38500;
}
.Statistics td:nth-child(4) {
  color: #B38500;
}
.Statistics td:nth-child(5) {
  color: #B38500;;
  font-weight: bold;

}
.Statistics td:nth-child(6) {
  color: red;
  font-weight: bold;
}
.Statistics td:nth-child(7){
  color: black;
  font-weight: bold;
}
.Statistics td:nth-child(8){
  color: green;
  font-weight: bold;
}
.provincial{
    overflow: scroll;
}
.provincial table{
  margin-left:auto;
  margin-right:auto;
}
.provincial table tr td{
  height: 20px;
  text-align: center;
  border-collapse: collapse;
}
.provincial td:nth-child(1) {
  color: white;
  font-weight: bold;
}

.provincial td:nth-child(2) {
  color: #B38500;;
  font-weight: bold;
}
.provincial td:nth-child(3) {
  color: red;
  font-weight: bold;
}
.provincial td:nth-child(4) {
  color: green;
  font-weight: bold;
}
#bottominfo{
  font-size: 15px;
}
#notice{
  font-size: 12px;
  padding-top: 2px;
  text-align: center
  color: grey;
}
#padup{
  padding-top: 50%;
}
a{
  color: white;
}